{{!-- <div class="container">
    <div class="row"></div>
    <div class="col">
        <img class="img-fluid cookie-img"src="/images/{{filename}}" alt="{{product_name}}" />
    </div>
    <div class="col">
    {{product_name}}
    </div>
    <div class="col">
    {{CartItem.quantity}}
    </div>
    <div class="col">
        ${{calculate_total price CartItem.quantity}}
    </div>
        <button data-user-id="{{userId}}">Remove from cart</button>
    </div>   
</div> --}}

<div class="col product-card">
    <div class="card " style="width: 18rem;">
        <img src="/images/{{filename}}" class="card-img-top" alt="{{product_name}}">
        <div class="card-body">
            <a class="product-link" href="/products/{{id}}"><h5 class="card-title">{{product_name}}</h5></a>
            <p class="card-text">${{calculate_total price CartItem.quantity}}</p>
            <p class="card-text">{{CartItem.quantity}}</p>
            <button class="removeFromCartButton" data-product-id="{{id}}" data-user-id="{{userId}}">Remove from cart</button>
        </div>
        <div>{{userId}}</div>
    </div>
</div>