<div class='col product-card'>
	<div class='card mx-auto' style='width: 18rem;'>
		<img
			src='/images/{{filename}}'
			class='card-img-top'
			alt='{{product_name}}'
		/>
		<div class='card-body'>
			<a class='product-link' href='/products/{{id}}'><h5
					class='card-title'
				>{{product_name}}</h5></a>
			<p class='card-text'>${{calculate_total price CartItem.quantity}}</p>
			<p class='card-text'>Amount in cart: {{CartItem.quantity}} dozen</p>
			<button
				class='remove-from-cart btn btn-primary'
				data-product-id='{{id}}'
				data-user-id='{{userId}}'
			>Remove from cart</button>
		</div>
		<div>{{userId}}</div>
	</div>
</div>