<div class='col product-card pb-3'>
	<div class='card mx-auto' style='width: 18rem;'>
		<a href="/products/{{id}}"><img src='/images/{{filename}}' class='card-img-top productImage'
				alt='product-image' /></a>
		<div class='card-body'>
			<a class='product-link' href='/products/{{id}}'>
				<h5 class='card-title d-inline-block text-truncate'>{{product_name}}</h5>
			</a>
			<p class='card-text'>${{price}}/dozen</p>
			<p class='card-text'>{{check_stock stock}}</p>
		</div>
	</div>
</div>