
<section class="container">
    <div class="row justify-content-center p-3">
        <div class="col-md-5">
            <img class="img-fluid cookie-img" src="/images/{{product.filename}}" alt="{{product.product_name}}" />
        </div>
        <div class="card h-25 col-md-4 checkout-list" style="width: 18rem">
            <ul class="list-group list-group-flush text-centered">
                <li class="list-group-item"><h6>{{product.product_name}}</h6></li>
                <li class="list-group-item">${{product.price}}/dozen</li>
                <li class="list-group-item">{{check_stock product.stock}}</li>
                <li class="list-group-item">
                    <button class="addToCartButton btn btn-primary" data-product-id="{{product.id}}" data-user-id="{{userId}}">Add to cart</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div>
            <h1 class="text-center">You might like</h1>
        </div>
        <div class="row row-cols-auto justify-content-center">
            {{#each additionalProducts as |additionalProduct|}}
                {{> product-details}}
            {{/each}}
        </div>
    </div>
</section>
